html {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  text-align: center;
  opacity: 0.9;
  background-color: black;
}
#header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  position: fixed;
}

#headercontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4.5px 10px;
}

#header img {
  height: 50px;
}

#header nav span {
  padding: 15px;
}

#header nav span a {
  color:seashell;
  text-decoration: underline;
}
