html {
  font-family: Helvetica;
  font-size: 22px;
  color:seashell;
  text-align: center;
  opacity: 0.9;
  background-color: black;
}

body {
  margin: 0;
  padding: 0;
}

.verticalcenter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

h2, h3, h4 {
  padding: 10px;
  margin: 0;
}

/* Header */

#header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
  position: fixed;
  z-index: 5;
}

#headercontent {
  justify-content: space-between;
  padding: 6px 10px;
}

#header img {
  height: 50px;
}

#header nav span {
  padding-left: 15px;
}

#header nav span a {
  color:seashell;
  text-decoration: underline;
}

/* Mission */

#mission {
  background-image: url(../images/mission-background.jpg);
  height: 700px;
  width: 1200px;
  position: relative;
  top: 70px;
  margin: auto;
}

#missiontext {
  background-color: black;
  width: 100%;
}

/*Featured Teas */

#featured {
  width: 1000px;
  justify-content: center;
  position: relative;
  top: 70px;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 70px;
}

.tea {
  padding: 10px;
}

.teapic {
  width: 300px;
  height: 200px;
}

/* Locations */

#locations {
  background-image: url(../images/locations-background.jpg);
  height: 500px;
  width: 1200px;
  position: relative;
  top: 70px;
  margin: auto;
  padding-top: 70px;
}

#teashops {
  padding: 0;
  margin: 0;
}

.shop {
  background-color: black;
  width: 300px;
  opacity: 1;
  margin: 5px 20px;
  padding: 10px;
}

.shop p {
  margin-bottom: 22px;
}
